-#
  Übergebene Variablen:
  - @fahrzeuge [Array aller Fahrzeuge des aktuellen Benutzers]

= form_tag("create", :method => "post") do
  %table
    %tr
      %td
        Startadresse
        %br/
        &nbsp;
      %td
        = text_field_tag(:address_start, nil, :placeholder => "Stadt (pflicht), PLZ (optional), Str.  Hausnr. (Optional)", :size => "50", :required => "required")
        %br/
        &nbsp;
    %tr
      %td
        Zieladresse
        %br/
        &nbsp;
      %td
        = text_field_tag(:address_end, nil, :placeholder => "Stadt (pflicht), PLZ (optional), Str.  Hausnr. (Optional)", :size => "50", :required => "required")
        %br/
        &nbsp;
    %tr
      %td
        Abfahrtszeit
        %br/
        &nbsp;
      %td
        %select{:name => "start_day", :required => "required"}
          - 31.times do |i|
            - if (i+1) < 10
              - if (i+1) == Time.now.day
                %option{:value => "0"+(i+1).to_s, :selected => "selected"}= "0#{(i+1)}"
              - else
                %option{:value => "0"+(i+1).to_s}= "0#{(i+1)}"
            - else
              - if (i+1) == Time.now.day
                %option{:value => (i+1).to_s, :selected => "selected"}= "#{(i+1)}"
              - else
                %option{:value => (i+1).to_s}= "#{(i+1)}"
        = "."
        %select{:name => "start_month", :required => "required"}
          - 12.times do |i|
            - if (i+1) < 10
              - if (i+1) == Time.now.month
                %option{:value => "0"+(i+1).to_s, :selected => "selected"}= "0#{(i+1)}"
              - else
                %option{:value => "0"+(i+1).to_s}= "0#{(i+1)}"
            - else
              - if (i+1) == Time.now.month
                %option{:value => (i+1).to_s, :selected => "selected"}= "#{(i+1)}"
              - else
                %option{:value => (i+1).to_s}= "#{(i+1)}"
        = "."
        %select{:name => "start_year", :required => "required"}
          %option{:value => Time.now.year, :selected => "selected"}= "#{Time.now.year}"
          - 4.times do |i|
            %option{:value => Time.now.year+(i+1)}= "#{Time.now.year+i}"
        &nbsp;-&nbsp;
        %select{:name => "start_hour", :required => "required"}
          - 24.times do |i|
            - if i < 10
              - if i == Time.now.hour
                %option{:value => "0"+i.to_s, :selected => "selected"}= "0#{i}"
              - else
                %option{:value => "0"+i.to_s}= "0#{i}"
            - else
              - if i == Time.now.hour
                %option{:value => i.to_s, :selected => "selected"}= "#{i}"
              - else
                %option{:value => i.to_s}= "#{i}"
        =":"
        %select{:name => "start_minute", :required => "required"}
          - 60.times do |i|
            - if i < 10
              - if i == Time.now.min
                %option{:value => "0"+i.to_s, :selected => "selected"}= "0#{i}"
              - else
                %option{:value => "0"+i.to_s}= "0#{i}"
            - else
              - if i == Time.now.min
                %option{:value => i.to_s, :selected => "selected"}= "#{i}"
              - else
                %option{:value => i.to_s}= "#{i}"
        %br/
        &nbsp;
    %tr
      %td
        Fahrzeug
        %br/
        &nbsp;
      %td
        %select{:name => "car", :required => "required"}
          - @fahrzeuge.each do |f|
            %option{:value => f.id}= "#{f.car_type} (#{f.seats} Sitzplätze)"
        %br/
        &nbsp;
    %tr
      %td
        Sitzpl&auml;tze 
        %br/
        &nbsp;
      %td
        %select{:name => "free_seats"}
          %option{:value => ""} keine Änderung
          - 10.times do |i|
            %option{:value => (i+1)}= (i+1)
        %br/
        &nbsp;
    %tr
      %td
        Gep&auml;ck
        %br/
        &nbsp;
      %td
        = check_box_tag(:baggage)
        %br/
        &nbsp;
    %tr
      %td Hinweise
      %td
        %textarea{:name => "comment", :rows => "5", :wrap => "physical"}
    %tr
      %td
        %br/
        = submit_tag("Erstellen")





