-#
  übergebene Variablen:
    - @future_trips
      die noch kommenden Fahrten als Fahrer
    - @completed_trips
      die absolvierten Fahrten als Fahrer
    - @future_ridden_trips
      die noch kommenden Fahrten als Mitfahrer
    - @ridden_trips
      die absolvierten Fahrten als Mitfahrer

  to do:
    - Layout
%h2 Übersicht Fahrten
%h3 Noch kommende Fahrten als Fahrer

.other_site= link_to 'Neue Fahrt erstellen', new_trip_path
%br
%table.trips_index_table
  - if @future_trips == nil or @future_trips.count <= 0
    %tr
      %td.center
        Es stehen momentan keine Fahrten als Fahrer aus
  - else
    %tr
      %td.center Route
      %td.left Start
      %td.left Ziel
      %td.center Datum
      %td.center Uhrzeit
    - @future_trips.each do |trip|
      %tr
        %td.number_col= link_to "##{trip.id}", trip, :class => "number_link"
        %td.left= "#{trip.get_start_address_info[:city]}, #{trip.get_start_address_info[:plz]}"
        %td.left= "#{trip.get_end_address_info[:city]}, #{trip.get_end_address_info[:plz]}"
        %td.center= trip.start_time.strftime("%d.%m.%Y")
        %td.center= trip.start_time.strftime("%H:%M")

%br/
%br/

%h3 Beendete Fahrten als Fahrer
%table.trips_index_table
  - if @completed_trips == nil or @completed_trips.count <= 0
    %tr
      %td.center
        Sie haben noch keine Fahrten als Fahrer beendet
  - else
    %tr
      %td.center Route
      %td.left Start
      %td.left Ziel
      %td.center Datum
      %td.center Uhrzeit
    - @completed_trips.each do |trip|
      %tr
        %td.number_col= link_to "##{trip.id}", trip, :class => "number_link"
        %td.left= "#{trip.get_start_address_info[:city]}, #{trip.get_start_address_info[:plz]}"
        %td.left= "#{trip.get_end_address_info[:city]}, #{trip.get_end_address_info[:plz]}"
        %td.center= trip.start_time.strftime("%d.%m.%Y")
        %td.center= trip.start_time.strftime("%H:%M")

%br/
%br/

%h3 Noch kommende Fahrten als Mitfahrer
%table.trips_index_table
  - if @future_ridden_trips == nil or @future_ridden_trips.count <= 0
    %tr
      %td.center
        Es stehen momentan keine Fahrten als Mitfahrer aus
  - else
    %tr
      %td.center Route
      %td.left Start
      %td.left Ziel
      %td.center Datum
      %td.center Uhrzeit
    - @future_ridden_trips.each do |trip|
      %tr
        %td.number_col= link_to "##{trip.id}", trip, :class => "number_link"
        %td.left= "#{trip.get_start_address_info[:city]}, #{trip.get_start_address_info[:plz]}"
        %td.left= "#{trip.get_end_address_info[:city]}, #{trip.get_end_address_info[:plz]}"
        %td.center= trip.start_time.strftime("%d.%m.%Y")
        %td.center= trip.start_time.strftime("%H:%M")

%br/
%br/

%h3 Beendete Fahrten als Mitfahrer
%table.trips_index_table
  - if @ridden_trips == nil or @ridden_trips.count <= 0
    %tr
      %td.center
        Sie sind noch nirgendwo mitgefahren
  - else
    %tr
      %td.center Route
      %td.left Start
      %td.left Ziel
      %td.center Datum
      %td.center Uhrzeit
    - @ridden_trips.each do |trip|
      %tr
        %td.number_col= link_to "##{trip.id}", trip, :class => "number_link"
        %td.left= "#{trip.get_start_address_info[:city]}, #{trip.get_start_address_info[:plz]}"
        %td.left= "#{trip.get_end_address_info[:city]}, #{trip.get_end_address_info[:plz]}"
        %td.center= trip.start_time.strftime("%d.%m.%Y")
        %td.center= trip.start_time.strftime("%H:%M")

%br/
%br/


