%div.other-site
	= link_to image_tag( '/images/Button_inbox.png', :alt => "Posteingang"), url_for(:action => "index", :controller => "messages")
%h2 Gesendete Nachrichten

- @messages.each do |message|
	%table.message_table
		%tr
			%td.message_table_left
				= "Nachricht an"
				= link_to(message.receiver.name, url_for(message.receiver))
			%td.message_table_right
				= message.created_at.strftime("%d.%m.%y %H:%M")
		%tr
			%td.message_table_both{:colspan => "2"}
				%div
					%span Betreff:
					= raw(h(message.subject).gsub(/\[\[([^\|]*)\|([^\]]*)\]\]/,'<a href=\1>\2</a>'))
		%tr
			%td.message_table_both{:colspan => "2"}
				= raw(h(message.message).gsub(/\[\[([^\|]*)\|([^\]]*)\]\]/,'<a href=\1>\2</a>').gsub(/[\n]/,"<br />"))
		%tr
			%td.message_table_both{:colspan => "2"}
				=link_to image_tag( '/images/Button_new_message.png', :alt => "Neue Nachricht"), url_for(:action => "new", :controller => "messages", :uid => message.receiver.id)
				= link_to image_tag( '/images/Button_delete_message.png', :alt => "Löschen"), url_for(:action => "update", :controller => "messages", :id => message.id, :who => "writer"), :method => :put
