%h1 
  Registrieren
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html=>{:name=>"Formular", :action=>"create"}) do |f|
  = devise_error_messages!

  %div 
    :javascript
      function formtest(){
        if (document.getElementById("business").checked==true){
          document.getElementById("privat").style.display='none';
          document.getElementById("privat1").style.display='none';
        } else {
          document.getElementById("privat").style.display='block';
          document.getElementById("privat1").style.display='block';
        } 
      }
    = f.label :"Geschäftskunde?"
    = f.check_box:business, :id=>"business" ,:onClick=>"formtest();" 
  %div
    = f.label :"Name*"
    = f.text_field :name
  %div
    = f.label :"E-mail*"
    %br/
    = f.email_field :email
  %div
    = f.label :"Passwort*"
    %br/
    = f.password_field :password, :required=>"required"
  %div
    = f.label :"Passwort wiederholen*"
    %br/
    = f.password_field :password_confirmation, :required=>"required"
  %div#privat
    = f.label :"Geburtsdatum", :id=>"lbirth"
    %br/
    = f.date_select :birthday,
                    :start_year => 1900,
                    :end_year => 2011,
                    :order => [:day, :month, :year],
                    :use_month_numbers => true
  %div
    = f.label :"Straße und Hausnummer*"
    %br/
    = f.text_field:address, :required=>"required"

  %div
    = f.label :"PLZ*"
    %br
      = f.text_field:zipcode, :required=>"required", :class=>"integer", 
                              :maxlength=>"5", :size=>"30", :remote=>"true",
                    :onblur =>" var b = (this.value).search(/[^0-9]+/);if(this.value.length<5){alert('PLZ zu kurz!'); this.focus();} if(b>=0){alert('PLZ enthält falsche Zeichen!'); this.focus;}"


  %div
    = f.label :"Stadt*"
    %br/
    = f.text_field:city, :required=>"required"
  
  %div#privat1
    %br/
    = f.label :Geschlecht, :id=>"lsex"
    %br
    = f.select:sex,  options_for_select([["Maennlich","1"], ["Weiblich","0"]]), :id=>"form_table_second"

  %div
    = f.label :Telefon
    %br/
    = f.phone_field :phone

  %div
    = f.label :Instantmessenger
    %br/
    = f.text_field :instantmessenger


  %div= f.submit "Anmelden"


  %div
    Mit * gekennzeichnete Felder müssen ausgefüllt werden!
-#= render :partial => "devise/shared/links"
