%h1 
  Registrieren
%div
  Mit * gekennzeichnete Felder müssen ausgefüllt werden!
= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html=>{:name=>"Formular", :onsubmit=>"return zipcheck();"}) do |f|
  = devise_error_messages!
  %table.form_table
    %tr 
      :javascript
        function formtest(){
          if (document.getElementById("business").checked==true){
            document.getElementById("privat").style.display='none';
            document.getElementById("privat1").style.display='none';
            document.getElementById("privat3").style.display='none';
            document.getElementById("privat4").style.display='none';
          } else {
            document.getElementById("privat").style.display='block';
            document.getElementById("privat1").style.display='block';
            document.getElementById("privat3").style.display='block';
            document.getElementById("privat4").style.display='block';
          } 
        }

        function zipcheck() {
          var plz_field = document.getElementsByName("user[zipcode]")[0];
          var b = (plz_field.value).search(/[^0-9]+/);
          if(plz_field.value.length<5){
            alert('PLZ zu kurz!');
            plz_field.focus();
            return false;
          }
          if(b>=0){
            alert('PLZ enthält falsche Zeichen!');
            plz_field.focus;
            return false;
          }
          return true;
        }
      %td  
        = f.label :business, "Geschäftskunde?"
      %td
        = f.check_box:business, :id=>"business" ,:onClick=>"formtest();" 
    %tr
      %td
        = f.label :name, "Name*"
      %td
        = f.text_field :name, :required=>"required", :autofocus=>"autofocus"
    %tr
      %td
        = f.label :email, "E-Mail*"
      %td
        = f.email_field :email, :required=>"required"
    %tr
      %td
        = f.label :password, "Passwort*"
      %td
        = f.password_field :password, :required=>"required"
    %tr
      %td
        = f.label :password_confirmation, "Passwort wiederholen*"
      %td
        = f.password_field :password_confirmation, :required=>"required"
    %tr
      %td#privat
        = f.label :birthday, "Geburtsdatum"
      %td#privat1
        = f.date_select :birthday,
                    :start_year => 1900,
                    :end_year => 2011,
                    :order => [:day, :month, :year],
                    :use_month_numbers => true
    %tr
      %td
        = f.label :address, "Straße und Hausnummer*"
      %td
        = f.text_field:address, :required=>"required"

    %tr
      %td
        = f.label :zipcode, "PLZ*"
      %td
        = f.text_field:zipcode, :required=>"required", :class=>"integer", 
                              :maxlength=>"5", :size=>"30"

    %tr
      %td
        = f.label :city, "Stadt*"
      %td
        = f.text_field:city, :required=>"required"
  
    %tr
      %td#privat3
        = f.label :sex, "Geschlecht"
      %td#privat4
        = f.select:sex,  options_for_select([["Maennlich","1"], ["Weiblich","0"]]), :id=>"form_table_second"

    %tr
      %td
        = f.label :phone, "Telefon"
      %td
        = f.phone_field :phone

    %tr
      %td
        = f.label :instantmessenger, "Instantmessenger"
      %td
        = f.text_field :instantmessenger

    %tr
      %td
      %td
        = f.submit "Anmelden"




-#= render :partial => "devise/shared/links"
