.other-site
  = link_to(image_tag('/images/Button_back.png', :alt => "Zurück"), "javascript:history.back()")
  -if current_user == @user
    = link_to(image_tag( '/images/Button_edit.png', :alt => "Bearbeiten"), edit_user_registration_path)
  -else
    - if current_user.is_ignored(@user) != true
      = link_to(image_tag( '/images/Button_ignore.png', :alt => "ignorieren"), url_for(:action=>"update", :controller=>"users", :ignore=>"1") ) 
    - else
      = link_to(image_tag( '/images/Button_ignore_not.png', :alt => "ignorieren aufheben"), url_for(:action=>"update", :controller=>"users", :ignore=>"0") )
%h2 
  Profil


%table.form_arround
  %tr.form_arround_row
    %td.form_arround_left
      %table.form_tables

        %tr
          %td
            = "Profildetails"
          %td
        %tr.form_tables_row
          %td.form_tables_left
            Nutzername: 
          %td.form_tables_right
            #{@user.name}
        %tr.form_tables_row
          %td.form_tables_left
            Email:
          %td.form_tables_right
            #{@user.email if @user.email}
        - if !@user.business?
          %tr.form_tables_row
            %td.form_tables_left
              Geschlecht:
            %td.form_tables_right
              #{@user.sex? ? "Maennlich" : "Weiblich"}

        %tr.form_tables_row
          %td.form_tables_left
            Adresse: 
          %td.form_tables_right
            - if current_user==@user
              #{@user.address}
            - else
              #{@user.visible_address? ? @user.address: "versteckt"}

        %tr.form_tables_row
          %td.form_tables_left
            PLZ: 
          %td.form_tables_right
            - if current_user==@user
              #{@user.zipcode}
            - else
              #{@user.visible_zip? ? @user.zipcode : "versteckt"}
        %tr.form_tables_row
          %td.form_tables_left
            Ort: 
          %td.form_tables_right
            - if current_user==@user
              #{@user.city}
            - else
              #{@user.visible_city? ? @user.city : "versteckt"}
      
        - if !@user.business?
          %tr.form_tables_row
            %td.form_tables_left
              Geburtsdatum: 
            %td.form_tables_right
              - if current_user==@user
                #{@user.birthday}
              - else
                #{@user.visible_age? ?  @user.birthday.strftime("%d.%m.%Y") : "versteckt"}

        %tr.form_tables_row
          %td.form_tables_left
            InstantMassenger: 
          %td.form_tables_right
            - if current_user==@user
              #{@user.instantmessenger}
            - else
              #{@user.visible_im? ?  @user.instantmessenger: "versteckt"}

        %tr.form_tables_row
          %td.form_tables_left
            Telefon: 
          %td.form_tables_right
            - if current_user==@user
              #{@user.phone}
            - else
              #{@user.visible_phone? ? @user.phone : "versteckt"}

      %td.form_arround_right{:rowspan => "2"}
        %table#box
          %tr
            %td
              - if (@user.pic?)
                = image_tag @user.pic.url(:medium)
              -else
                - if (@user.business?)
                  %img{:src=>"../images/user/fabrik.jpg"}
                - else 
                  - if (@user.sex?)
                    %img{:src => "/images/user/männlich.jpg"}
                  - else 
                    %img{:src => "/images/user/weiblich.jpg"}

    %tr
      %td
        = link_to image_tag( '/images/Button_recieved_rating.png', :alt => "Bearbeiten"), "/ratings/"+@user.id.to_s
        

