%h2 
  Profil
%div.other_site
  -if current_user == @user
    = link_to("bearbeiten", edit_user_registration_path)
  -else
    - if current_user.is_ignored(@user) != true
      = link_to("ignorieren", url_for(:action=>"update", :controller=>"users", :ignore=>"1") ) 
    - else
      = link_to("nicht mehr ignorieren", url_for(:action=>"update", :controller=>"users", :ignore=>"0") )


%table.form_arround
  %tr.form_arround_row
    %td.form_arround_left
      %table.form_table

        %tr.form_table_row
          %td.form_table_left
            %h4 Nutzername: 
          %td.form_table_right
            #{@user.name}
        %tr.form_table_row
          %td.form_table_left
            %h4 Email:
          %td.form_table_right
            #{@user.email if @user.email}
        - if !@user.business?
          %tr.form_table_row
            %td.form_table_left
              %h4 Geschlecht:
            %td.form_table_right
              #{@user.sex? ? "Maennlich" : "Weiblich"}

        %tr.form_table_row
          %td.form_table_left
            %h4 Adresse: 
          %td.form_table_right
            #{@user.visible_address? ? @user.address: "versteckt"}

        %tr.form_table_row
          %td.form_table_left
            %h4 PLZ: 
          %td.form_table_right
            #{@user.visible_zip? ? @user.zipcode : "versteckt"}
        %tr.form_table_row
          %td.form_table_left
            %h4 Ort: 
          %td.form_table_right
            #{@user.visible_city? ? @user.city : "versteckt"}
      
        - if !@user.business?
          %tr.form_table_row
            %td.form_table_left
              %h4 Geburtsdatum: 
            %td.form_table_right
              #{@user.visible_age? ?  @user.birthday.strftime("%d.%m.%Y") : "versteckt"}

        %tr.form_table_row
          %td.form_table_left
            %h4 InstantMassenger: 
          %td.form_table_right
            #{@user.visible_im? ?  @user.instantmessenger: "versteckt"}

        %tr.form_table_row
          %td.form_table_left
            %h4 Telefon: 
          %td.form_table_right 
            #{@user.visible_phone? ? @user.phone : "versteckt"}

      %td.form_arround_right
        %p#box
          - if (@user.pic?)
            = image_tag @user.pic.url(:medium)
          -else
            - if (@user.business?)
              = image_tag "../images/user/fabrik.jpg"
            - else 
              - if (@user.sex?)
                = image_tag "../images/user/männlich.jpg"
              - else 
                = image_tag "../images/user/weiblich.jpg"

        

