<h2>Passwort vergessen??</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <p><%= "eMail" %><br />
  <%= f.email_field :email %></p>

  <p><%= f.submit "Sende mir Informationen zum ändern meines Passwortes" %></p>
<% end %>

<%= render :partial => "devise/shared/links" %>
