= form_for @request do |f|
  -if @request.errors.any?
    #error_explanation
      %h2= "#{pluralize(@request.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @request.errors.full_messages.each do |msg|
          %li= msg
  
  %table
    %tr
      %td 
        = f.label:Start
    %tr
      %td
      %td 
        =f.label:start_city, "Startort"
      %td
        = f.text_field:start_city, :required=>"required", :placeholder=>"Ort(pflicht), PLZ(optional), Straße(optional)", :size=>"38"
    %tr
      %td
      %td
        = f.label:start_radius, "Radius"
      %td
        = f.select:start_radius, options_for_select([["5km","5"], ["10km","10"], ["15km", "15"], ["20km", "20"],["25km", "25"], ["30km","30"],["35km","35"], ["40km","40"], ["45km","45"],["50km", "50"]]), :required=>"required"

    %tr
      %td
      %td 
        =f.label:start_time, "Losfahren von:"
      %td
        = f.datetime_select:start_time, 
                           :required => "required",
                           :order=>[:hour,:day, :month, :year],
                           :use_month_numbers=>true,
                           :start_year=>Time.now.year
                           
    %tr
      %td
      %td 
        = f.label:end_time, "Bis"
      %td
        = f.datetime_select:end_time, :required => "required",
                            :order=>[:hour,:day, :month, :year],
                            :use_month_numbers=>true,
                            :start_year=>Time.now.year
    %tr
      %td
    %tr
      %td
        = f.label:Ziel
    %tr
      %td
      %td 
        = f.label:end_city, "Zielort"
      %td
        = f.text_field:end_city, :required => "required", :placeholder=>"Ort(pflicht), PLZ(optional), Straße(optional)", :size=>"38"
    %tr
      %td
      %td
        = f.label:end_radius, "Radius"
      %td
        = f.select:end_radius, options_for_select([["5km","5"], ["10km","10"], ["15km", "15"], ["20km", "20"],["25km", "25"], ["30km","30"],["35km","35"], ["40km","40"], ["45km","45"],["50km", "50"]]), :required=>"required"



    %tr
      %td 
        = f.label:"Details"
    %tr
      %td
      %td 
        = f.label:baggage, "Gepäck"
      %td
        = f.check_box:baggage
    %tr
      %td
      %td
        = f.label:comment, "Anmerkungen"
      %td
        = f.text_area:comment, :rows=>"5"

    %tr
      %td
      %td
      %td
      %td
        = f.submit "Erstellen"

