= form_for @request, :html=>{:onsubmit=>"return zipcheck();"} do |f|
  -if @request.errors.any?
    #error_explanation
      %h2= "#{pluralize(@request.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @request.errors.full_messages.each do |msg|
          %li= msg
  
  %table
    :javascript
      function zipcheck() {
        var plz_field = document.getElementsByName("request[start_zipcode]")[0];
        var b = (plz_field.value).search(/[^0-9]+/);
        if(plz_field.value.length<5){
          alert('Start PLZ zu kurz!');
          plz_field.focus();
          return false;
        }
        if(b>=0){
          alert('Start PLZ enthält falsche Zeichen!');
          plz_field.focus;
          return false;
        }
        var plz_field = document.getElementsByName("request[end_zipcode]")[0];
        var b = (plz_field.value).search(/[^0-9]+/);
        if(plz_field.value.length<5){
          alert('End PLZ zu kurz!');
          plz_field.focus();
          return false;
        }
        if(b>=0){
          alert('End PLZ enthält falsche Zeichen!');
          plz_field.focus;
          return false;
        }
        return true;
      }
    %tr
      %td 
        = f.label:Start
    %tr
      %td
      %td
        = f.label:"Straße"
      %td
        =f.text_field:start_street
    %tr 
      %td
      %td
        = f.label:Plz
      %td
        = f.text_field:start_zipcode, :required=>"required", :maxlength=>"5"
    %tr
      %td
      %td 
        =f.label:Ort
      %td
        = f.text_field:start_city, :required=>"required"
    %tr
      %td
      %td
        = f.label:Radius
      %td
        = f.select:start_radius, options_for_select([["5km","5"], ["10km","10"], ["15km", "15"], ["20km", "20"],["25km", "25"], ["30km","30"],["35km","35"], ["40km","40"], ["45km","45"],["50km", "50"]]), :required=>"required"

    %tr
      %td
      %td 
        =f.label:"Datum und Zeit"
      %td
        = f.datetime_select:start_time, 
                           :required => "required",
                           :order=>[:hour,:day, :month, :year],
                           :use_month_numbers=>true,
                           :start_year=>Time.now.year
    %tr
      %td
    %tr
      %td
        = f.label:Ziel
    %tr
      %td
      %td
        =f.label:"Straße"
      %td
        = f.text_field:end_street
    %tr
      %td
      %td
        = f.label:"Plz"
      %td
        = f.text_field:end_zipcode, :required=>"required", :maxlength=>"5"
    %tr
      %td
      %td 
        = f.label:Ort
      %td
        = f.text_field:end_city, :required => "required"
    %tr
      %td
      %td
        = f.label:Radius
      %td
        = f.select:end_radius, options_for_select([["5km","5"], ["10km","10"], ["15km", "15"], ["20km", "20"],["25km", "25"], ["30km","30"],["35km","35"], ["40km","40"], ["45km","45"],["50km", "50"]]), :required=>"required"


    %tr
      %td
      %td 
        = f.label:"Datum und Zeit"
      %td
        = f.datetime_select:end_time, :required => "required",
                            :order=>[:hour,:day, :month, :year],
                            :use_month_numbers=>true,
                            :start_year=>Time.now.year

    %tr
      %td 
        = f.label:"Details"
    %tr
      %td
      %td 
        = f.label:"Gepäck"
      %td
        = f.check_box:baggage
    %tr
      %td
      %td
        = f.label:"Anmerkungen"
      %td
        = f.text_area:comment, :rows=>"5"

    %tr
      %td
      %td
      %td
      %td
        = f.submit "Erstellen"

