%h1 Mitfahrgelegenheit

%table.index_table
  %tr.index_table_first
    %th Start
    %th Ende
    %th Gepäck
    %th Anmerkung
    %th
  - @requests.each do |request|
    %tr.index_table_second
      
      %td= request.start_time
      %td= request.end_time
      %td= request.baggage? ? "Ja" : "Nein"
      %td= request.comment

      %td= link_to 'Show', request
      %td= link_to 'Edit', edit_request_path(request)
      %td= link_to 'Destroy', request, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Request', new_request_path
