-#
  체bergebene Variablen:
    - @sorted_trips
      Array mit auf den Request passende Fahrten


%h2 Meine Anfrage

%table
  %tr
    %td.left    
      Startadresse:
    %td
      = @request.start_zipcode.to_s + " " + @request.start_city + " " + @request.start_street
  %tr
    %td.left
      Zieladresse:
    %td
      = @request.end_zipcode.to_s + " " + @request.end_city + " " + @request.end_street


  %tr
    %td.left
      Startzeit:
    %td.right
      = @request.start_time.strftime("%d.%m.%Y %H:%M")
  %tr
    %td.left
      Endzeit:
    %td.right
      = @request.end_time.strftime("%d.%m.%Y %H:%M")
  %tr
    %td.left 
      Gep채ck:
    %td.right
      = @request.baggage? ? "Ja" : "Nein"
  %tr
    %td.left 
      Anmerkungen:
    %td.right  
      = @request.comment


%h4 Dazu passende Trips:
%table.index_table
  %tr.index_table_first
    %td
      Startort
    %td
      Zielort
    %td
      Startzeit
    %td
      Fahrtzeit
    %td
      Strecke
    %td
      Gep채ck
    %td
      link
    %td
      Bewertung
  - @sorted_trips.each do |t|
    %tr.index_table_second
      %td 
        = t[0].start_zipcode.to_s 
        = t[0].start_city 
      %td
        = t[0].end_zipcode.to_s + " " + t[0].end_city
      %td
        = t[0].start_time.strftime("%d.%m.%Y %H:%M")
      %td
        = t[0].get_route_distance
      %td
        = t[0].get_route_duration
      %td
        = t[0].baggage? ? "Ja" : "Nein"
      %td
        = link_to 'Zur Fahrt', "/trips/"+t[0].id.to_s
      %td
        = t[0].user.get_avg_rating.to_s
        = "(" + t[0].user.count_ratings.to_s + ")"

= link_to image_tag( '/images/Button_edit.png', :alt => "Bearbeiten", :height => "20"), edit_request_path(@request)
\|
= link_to image_tag( '/images/Button_back.png', :alt => "Zur체ck", :height => "20"), requests_path
