-#
  übergebene Variablen:
    - @sorted_trips
      Array mit auf den Request passende Fahrten
%table.head
  %td.links
    %h2 Meine Anfrage
  %td.rechts
    = link_to image_tag( '/images/Button_edit.png', :alt => "Bearbeiten", :height => "20"), edit_request_path(@request)
    = link_to image_tag( '/images/Button_back.png', :alt => "Zurück", :height => "20"), requests_path


%table.show_table
  %tr.first
    %td 
      Anfrage
    %td
  %tr
    %td.left    
      Startadresse:
    %td
      = @request.start_zipcode == nil ? "" : @request.start_zipcode.to_s
      = @request.start_city == nil ? "" : @request.start_city
      = @request.start_street == nil ? "" : @request.start_street
      = "(" + @request.start_radius.to_s + "km Umkreis)"
  %tr
    %td.left
      Zieladresse:
    %td
      = @request.end_zipcode == nil ? "" : @request.end_zipcode.to_s
      = @request.end_city == nil ? "" : @request.end_city
      = @request.end_street == nil ? "" : @request.end_street
      = "(" + @request.end_radius.to_s + "km Umkreis)"
  %tr
    %td.left
      Startzeit:
    %td.right
      = @request.start_time.strftime("%d.%m.%Y %H:%M")
  %tr
    %td.left
      Endzeit:
    %td.right
      = @request.end_time.strftime("%d.%m.%Y %H:%M")
  %tr
    %td.left 
      Gepäck:
    %td.right
      = @request.baggage? ? "Ja" : "Nein"
  %tr
    %td.left 
      Anmerkungen:
    %td.right  
      = @request.comment


%h4 Dazu passende Trips:
-if @sorted_trips == nil or @sorted_trips.count <= 0
  %table.index_table
    %tr
      %td= "Keine Übereinstimmungen gefunden"
  %br
-else
  %table.index_table
    %tr.index_table_first
      %td
        Startort
      %td
        Zielort
      %td
        Startzeit
      %td
        Strecke
      %td
        Fahrtzeit
      %td
        Gepäck
      %td
        link
      %td
        Bewertung
    - @sorted_trips.each do |t|
      %tr.index_table_second
        %td 
          = t[0].start_zipcode.to_s 
          = t[0].start_city 
        %td
          = t[0].end_zipcode.to_s + " " + t[0].end_city
        %td
          = t[0].start_time.strftime("%d.%m.%Y %H:%M")
        %td
          = t[0].get_route_distance
        %td
          = t[0].get_route_duration
        %td
          = t[0].baggage? ? "Ja" : "Nein"
        %td
          = link_to 'Zur Fahrt', "/trips/"+t[0].id.to_s
        %td
          = "%.1f" % t[0].user.get_avg_rating_driver
          = "(" + t[0].user.count_ratings.to_s + ")"
        %td
          = t[1]

