-#
  übergebene Variablen:
    - @sorted_trips
      Array mit auf den Request passende Fahrten

%p#notice= notice

%p
  %b Startadresse:
  = @request.address_start
%p
  %b Zieladresse:
  = @request.address_end
%p
  %b Startzeit:
  = @request.start_time
%p
  %b Endzeit:
  = @request.end_time
%p
  %b Gepäck:
  = @request.baggage
%p
  %b Anmerkungen:
  = @request.comment

%table
  %th
    Passende Trips
  - @sorted_trips.each do |t|
    %tr
      %td 
        =t[0].address_start
        = t[0].address_end
        = link_to 'Zum Trip', "/trips/"+t[0].id.to_s
      %td 
        =t[1]

= link_to 'Edit', edit_request_path(@request)
\|
= link_to 'Back', requests_path
