-#
  übergebene Variablen:
    - @sorted_trips
      Array mit auf den Request passende Fahrten

%p#notice= notice

%h1 
  Meine Anfrage
%table
  %tr
    %td.left    
      Startadresse:
    %td.right  
      = @request.address_start
  %tr
    %td.left
      Zieladresse:
    %td.right
      = @request.address_end
  %tr
    %td.left
      Startzeit:
    %td.right
      = @request.start_time.strftime("%d.%m.%Y %H:%M")
  %tr
    %td.left
      Endzeit:
    %td.right
      = @request.end_time.strftime("%d.%m.%Y %H:%M")
  %tr
    %td.left 
      Gepäck:
    %td.right
      = @request.baggage? ? "Ja" : "Nein"
  %tr
    %td.left 
      Anmerkungen:
    %td.right  
      = @request.comment


%h4 Dazu passende Trips
%table
  %td.kopf
    Start
  %td.kopf
    Ende
  %td.kopf
    Startzeit
  %td.kopf
    Endzeit
  %td.kopf
    Fahrtzeit
  %td.kopf
    Strecke
  %td.kopf
    Gepäck
  %td.kopf
    link
  %td.kopf
    Bewertung
  - @sorted_trips.each do |t|
    %tr
      %td 
        = t[0].address_start
      %td
        = t[0].address_end
      %td
        = t[0].start_time.strftime("%d.%m.%Y %H:%M")
      %td
        = t[0].end_time.strftime("%d.%m.%Y %H:%M")
      %td
        = t[0].get_route_distance
      %td
        = t[0].get_route_duration
      %td
        = t[0].baggage? ? "Ja" : "Nein"
      %td
        = link_to 'Zum Trip', "/trips/"+t[0].id.to_s
      %td 
        =t[1]

= link_to 'Edit', edit_request_path(@request)
\|
= link_to 'Back', requests_path
