%h2
	= "Bewertungen für"
	= link_to(@user.name, url_for(@user))
%div.other_site2
	= link_to("zurück", "javascript:history.back()")
	= "|"
	= link_to("Erstellte Bewertungen", ratings_path)

%h3
	= "Bewertungen als Fahrer"
%p
	= "Durchschnittliche Bewertung ("
	= @driver_cnt
	= "):"
	%span
		= @driver_avg 
- @driver_ratings.each do |rating|
	%table.rating_table
		%tr
			%td.rating_table_left
				= "Bewertung von"
				= link_to(rating.author.name, url_for(rating.author))
			%td.rating_table_right
				= rating.created_at.strftime("%d.%m.%y %H:%M")
		%tr
			%td.rating_table_left
				%div
					= link_to(rating.trip.get_start_city() + " - " + rating.trip.get_end_city() + " " + rating.trip.start_time.strftime("%d.%m.%y"), url_for(rating.trip))
			%td.rating_table_right
				%div
					= "Note:"
					%span
						= rating.mark
		%tr
			%td.rating_table_both{:colspan => "2"}
				= rating.comment
%h3
	= "Bewertungen als Mitfahrer"
%p
	= "Durchschnittliche Bewertung ("
	= @passenger_cnt
	= "):"
	%span
		= @passenger_avg 
- @passenger_ratings.each do |rating|
	%table.rating_table
		%tr
			%td.rating_table_left
				= "Bewertung von"
				= link_to(rating.author.name, url_for(rating.author))
			%td.rating_table_right
				= rating.created_at.strftime("%d.%m.%y %H:%M")
		%tr
			%td.rating_table_left
				%div
					= link_to(rating.trip.get_start_city() + " - " + rating.trip.get_end_city() + " " + rating.trip.start_time.strftime("%d.%m.%y"), url_for(rating.trip))
			%td.rating_table_right
				%div
					= "Note:"
					%span
						= rating.mark
		%tr
			%td.rating_table_both{:colspan => "2"}
				= rating.comment
