%h2
	= "Bewertungen"
%div.other_site
	= link_to(image_tag('/images/Button_back.png', :alt => "Zurück", :height => "20"), "javascript:history.back()")
	= link_to(image_tag( '/images/Button_created_rating.png', :alt => "Erstellte Bewertungen", :height => "20"), ratings_path)

%p
	= link_to(@user.name, url_for(@user))
%h3
	= "Bewertungen als Fahrer"
-if @driver_ratings.empty?
	%p
		= "Keine Bewertungen vorhanden."
-else
	%p
		= "Insgesammt"
		%span
			= @driver_cnt.to_s
		- if @driver_cnt == 1
			= "Bewertung erhalten mit einer Durchschnittsnote von"
		- else
			= "Bewertungen erhalten mit einer Durchschnittsnote von"
		:plain
			<span>#{"%.1f" % @driver_avg}</span>.
	- @driver_ratings.each do |rating|
		%table.rating_table
			- args = (@user == current_user and @last_ratings < rating.created_at) ? {:class => 'new'} : {}
			%tr{args}
				%td.rating_table_left
					= "Bewertung von"
					= link_to(rating.author.name, url_for(rating.author))
					- if @user == current_user and @last_ratings < rating.created_at
						%span.new
							= "(NEU)"
				%td.rating_table_right
					= rating.created_at.strftime("%d.%m.%y %H:%M")
			%tr
				%td.rating_table_left
					%div
						= link_to(rating.trip.get_start_city() + " - " + rating.trip.get_end_city() + " " + rating.trip.start_time.strftime("%d.%m.%y"), url_for(rating.trip))
				%td.rating_table_right
					%div
						= "Note:"
						%span
							= rating.mark
			%tr
				%td.rating_table_both{:colspan => "2"}
					= rating.comment
%h3
	= "Bewertungen als Mitfahrer"
-if @passenger_ratings.empty?
	%p
		= "Keine Bewertungen vorhanden."
-else
	%p
		= "Insgesammt"
		%span
			= @passenger_cnt.to_s
		- if @passenger_cnt == 1
			= "Bewertung erhalten mit einer Durchschnittsnote von"
		- else
			= "Bewertungen erhalten mit einer Durchschnittsnote von"
		:plain
			<span>#{"%.1f" % @passenger_avg}</span>.
	- @passenger_ratings.each do |rating|
		%table.rating_table
			- args = (@user == current_user and @last_ratings < rating.created_at) ? {:class => 'new'} : {}
			%tr{args}
				%td.rating_table_left
					= "Bewertung von"
					= link_to(rating.author.name, url_for(rating.author))
					- if @user == current_user and @last_ratings < rating.created_at
						%span.new
							= "(NEU)"
				%td.rating_table_right
					= rating.created_at.strftime("%d.%m.%y %H:%M")
			%tr
				%td.rating_table_left
					%div
						= link_to(rating.trip.get_start_city() + " - " + rating.trip.get_end_city() + " " + rating.trip.start_time.strftime("%d.%m.%y"), url_for(rating.trip))
				%td.rating_table_right
					%div
						= "Note:"
						%span
							= rating.mark
			%tr
				%td.rating_table_both{:colspan => "2"}
					= rating.comment
