:javascript
  function desc(){
    document.getElementById("deshinweis").firstChild.nodeValue ="Noch " + (document.getElementById("descriptionarea").maxLength - document.getElementById("descriptionarea").value.length) + " Zeichen";
  }
= stylesheet_link_tag :cars
%table.form_table
  = form_for @car do |f|
    -if @car.errors.any?
      #error_explanation
        %h2= "#{pluralize(@car.errors.count, "error")} Beim speichern des Fahrzeuges ist ein Fehler aufgetreten:"
        %ul
          - @car.errors.full_messages.each do |msg|
            %li= msg
    %tr
      %td
        = f.label :seats, "Sitzplätze*" 
      %td
        = f.number_field :seats, :size => 30, :value => 5, :min => 0, :max =>40, :autofocus => "autofocus"
    %tr
      %td
        = f.label :car_type, "Fahrzeugmodell*"
      %td
        = f.text_field :car_type, :required => true
    %tr
      %td
        = f.label :licence, "Kennzeichen*"
      %td
        = f.text_field :licence, :required => true 
    %tr
      %td
        = f.label :price_km, "Preis/km"
      %td
        = f.text_field :price_km
    %tr
      %td
        = f.label :smoker, "Raucher"
      %td
        = f.check_box :smoker
    %tr
      %td
        = f.label :description, "Beschreibung"
      %td
        = f.text_area :description, :maxlength => 160, :placeholder => "Großer Kofferraum, Keine Türen",:id => "descriptionarea", :resize => "none", :onkeydown => "desc()", :onkeyup => "desc()", :rows => "7", :onkeypress => "desc()"
        #deshinweis
          %script desc();
    %tr
      %td
        = f.label :carpic, "Bild hochladen"
      %td   
        = f.file_field :carpic
    %tr  
      %td
        = "Aktuelles Bild:"
      %td
        - if @car.carpic?
          = image_tag @car.carpic.url(:medium)
        - else
          = "kein bild"
    %tr
      %td
        = image_submit_tag "/images/Button_edit.png"
      %td
