%h1 Furhpark bearbeiten

= render 'form'
%br
Aktuelles Bild:
%br
- if @car.carpic?
  = image_tag @car.carpic.url(:medium)
- else
  = "kein bild"
%br
%br
= link_to 'Anzeigen', @car
\|
= link_to 'Zurück', cars_path
