= stylesheet_link_tag :cars
%h2 Fahrzeugdetails
%div.other_site
  = link_to image_tag( '/images/Button_add.png', :alt => "Neues Fahrzeug", :height => "20"), new_car_path 

%table.cars_index_table
  %tr
    %td
      %table.cars_index_top
  %tr
    %td
      %table.cars_index_bot
        %tr
          %td Bild
          %td Modell
          %td Sitzpl&auml;tze
          %td Preis/km
          %td Raucher
          %td Kennzeichen
          %td Beschreibung
          %td Editieren
          %td Löschen
        - @cars.each do |car|
          %tr
            - if car.carpic?
              %td= image_tag car.carpic.url(:thumb)
            - else
              %td= image_tag( '/images/cars/Default_car_icon2.png', :height => "50px") 
            %td= link_to car.car_type, car
            %td= car.seats
            %td= car.price_km
            %td
              = car.smoker? ? "Ja" : "Nein"
            %td= car.licence
            %td= car.description
            %td= link_to image_tag( '/images/Button_edit.png', :alt => "Editieren", :height => "20"), edit_car_path(car)
            %td= link_to image_tag( '/images/Button_delete.png', :alt => "Löschen",:height => "20"), car, :confirm => 'Bist du sicher?', :method => :delete
  %tr
    %td

