= stylesheet_link_tag :cars
%table.cars_base_table
  %tr
    %td
      %table.cars_table_top
        %td.head Fahrzeugdetails
        %td.cars_top_link= link_to image_tag( '/images/cars/car_button_add_high.png', :alt => "Neues Fahrzeug", :size => "50x50"), new_car_path        
        %td.cars_top 
          %b Fahrzeug hinzuf&uuml;gen


  
  %tr
    %td
      %table.cars_table_bot
        %tr
          %th.cars Bild
          %th.cars Modell
          %th.cars Sitzpl&auml;tze
          %th.cars Preis/km
          %th.cars Raucher
          %th.cars Kennzeichen
          %th.cars Beschreibung
          %th.cars Editieren
          %th.cars Löschen
        - @cars.each do |car|
          %tr
            - if car.carpic?
              %td.cars_1= image_tag car.carpic.url(:thumb)
            - else
              %td.cars_1= image_tag( '/images/cars/Default_car_icon.png', :size => "60x60") 
            %td.cars_2= link_to car.car_type, car
            %td.cars_1= car.seats
            %td.cars_2= car.price_km
            %td.cars_1
              = car.smoker? ? "Ja" : "Nein"
            %td.cars_2= car.licence
            %td.cars_1= car.description
            %td.cars_2= link_to image_tag( '/images/cars/car_button_edit_high.png', :alt => "Editieren", :size => "40x40"), edit_car_path(car)
            %td.cars_1= link_to image_tag( '/images/cars/car_button_delete_high.png', :alt => "Löschen",:size => "40x40"), car, :confirm => 'Bist du sicher?', :method => :delete
  %tr
    %td
      *Angaben nicht richtig

