= stylesheet_link_tag :cars
%div.other-site
  = link_to image_tag( '/images/Button_add.png', :alt => "Neues Fahrzeug"), new_car_path 
%h2 Fahrzeugdetails

%table.cars_index_bot
  %tr
    %td Bild
    %td Modell
    %td Sitzpl&auml;tze
    %td Kosten pro 100 km
    %td Raucher
    %td Kennzeichen
    %td
  - @cars.each do |car|
    %tr
      - if car.carpic?
        %td= link_to image_tag( car.carpic.url(:thumb)), car
      - else
        %td= link_to image_tag( '/images/cars/Default_car_icon2.png', :height => "50px"), car
      %td= link_to car.car_type, car
      %td= car.seats
      %td= car.price_km
      %td
        = car.smoker? ? "Ja" : "Nein"
      %td= car.licence
      %td= link_to image_tag( '/images/Button_delete.png', :alt => "Löschen"), car, :confirm => 'Bist du sicher?', :method => :delete

