:javascript
  function desc(){
    document.getElementById("deshinweis").firstChild.nodeValue ="Noch " + (document.getElementById("descriptionarea").maxLength - document.getElementById("descriptionarea").value.length) + " Zeichen";
  }
= stylesheet_link_tag :cars
%h2
  = "Neues Fahrzeug"
%table.form_table
  = form_for :car, :url => "/cars/create", :html => { :multipart => true } do |f|
    -if @car.errors.any?
      #error_explanation
        %h2= "#{pluralize(@car.errors.count, "error")} Beim speichern des Fahrzueges ist ein Fehler aufgetreten:"
        %ul
          - @car.errors.full_messages.each do |msg|
            %li= msg
    %tr
      %td
        = f.label :seats, "Sitzplätze*" 
      %td
        = f.number_field :seats, :class => "text_input", :min => 0, :max =>40, :autofocus => "autofocus"
    %tr
      %td
        = f.label :car_type, "Modell*"
      %td
        = f.text_field :car_type, :required => true, :class => "text_input"
    %tr
      %td
        = f.label :licence, "Kennzeichen*"
      %td
        = f.text_field :licence, :required => true, :class => "text_input"
    %tr
      %td
        = f.label :price_km, "Kosten: € pro 100km*"
      %td
        = f.text_field :price_km, :placeholder => "Spritverbrauch + Verschleiß", :class => "text_input"
    %tr
      %td
        = f.label :smoker, "Raucher"
      %td
        = f.check_box :smoker, :size => 38
    %tr
      %td
        = f.label :description, "Beschreibung"
      %td
        = f.text_area :description, :maxlength => 160, :placeholder => "Großer Kofferraum, Keine Türen", :id => "descriptionarea", :resize => "none", :onkeydown => "desc()", :onkeyup => "desc()", :onkeypress => "desc()"
        #deshinweis
          %script desc();
    %tr
      %td
        = f.label :carpic, "Bild hochladen"
      %td
        = f.file_field :carpic
      
    %tr
      %td
        = link_to image_tag( '/images/Button_back.png', :alt => "Zurück"), "javascript:history.back();"
      %td
        = image_submit_tag "/images/Button_add.png"
%p Mit * gekennzeichnete Felder sind Pflichtfelder

