%div.other-site
  = link_to image_tag( '/images/Button_back.png', :alt => "Zurück"), cars_path
  = link_to image_tag( '/images/Button_edit.png', :alt => "Editieren"), edit_car_path(@car)
%h2 Fahrzeugdetails
%table.cars_show_index
  %tr  
    %td
      %table.cars_show_left
        %tr
          %td
            Details
          %td  
        %tr
          %td Modell
          %td= @car.car_type
        %tr 
          %td Sitzpl&auml;tze
          %td= @car.seats
        %tr
          %td Fahrtkosten
          %td= @car.price_km

        %tr
          %td Raucherwagen
          %td= @car.smoker? ? "ja" :"nein"
        %tr
          %td Nummernschild
          %td= @car.licence
        %tr
          %td Beschreibung
          %td.desc= @car.description
    %td.cars_show_right
      - if @car.carpic?
        = image_tag @car.carpic.url(:medium)
      - else
        = image_tag ('/images/cars/Default_car_icon2.png')


%br
%br

